.form1{
    margin-left: 94%;
    margin-right: 0%;
}
.footer1{
    position: fixed;
    bottom: 10px;
    right:50px;
}
.footer2{
    position: fixed;
    bottom: 150px;
    left:700px;
}
.icon1{
    size: 10px;
}