{% extends 'base.html' %}
{% block content %}
<div class="content">
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Product</a></li>
                            <li class="active">Total Sales</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="content">
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title">Product List </h4>
            </div>
            <div class="card-body--">
                <div class="table-stats order-table ov-h">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th class="serial">#</th>
                                <th>Name</th>
                                <th>Qty</th>
                                <th>Buy Price</th>
                                <th>Sell Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if products %}
                            {% for product in products %}
                            <tr>
                                <td class="serial">{{ forloop.counter }}</td>
                                <td>{{ product.product }}</td>
                                <td>{{ product.qty }}</td>
                                <td>{{ product.buy_price }}</td>
                                <td>{{ product.sell_price }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                                <tr><td>No Product Data</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div> <!-- /.table-stats -->
            </div>
        </div> <!-- /.card -->
    </div>  <!-- /.col-lg-8 -->
</div>    
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col"></div>
    <div class="col">
        <div class="card">
            <div class="card-body" style="background-color: green">
                <div class="stat-widget-five">
                    <div class="stat-content" >
                        <div class="text-left dib">
                            {% if profit %}
                            <div class="stat-text" style="color: white">Total Profit:{{ profit }}</span></div>
                            {% else %}
                            <div class="stat-text" style="color: white">Total Profit:0</span></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock content %} 